*{

  }
  // cor de fundo
  .cor_fundo{ 
    --ion-background-color:white;
  }
  
  // Menu fundo de dentro
  .fundo_menu{
    --ion-toolbar-background:#0B2C4D;
    --ion-item-background:#040F1A;
  }
  ion-button{ 
    --background:#0B2C4D; 
  }
  .menu_botao{
    background: rgb(4,15,26);
    background: linear-gradient(190deg, rgba(4,15,26,1) 0%, rgba(11,44,77,1) 35%, rgba(19,73,128,1) 100%);
  }
  
  // menu superior
  .botao{
    width: 100%;
    margin-bottom: 2vh;
    color: white;
  }
  .titulo1{
    margin-top: 1vh;
    margin-bottom: 3vh;
    color: white;
    text-align: center; 
  }
  .logo{
    height: 5vh;
  }  
  
  // Page
  .container{
    display: flex;
    justify-content: space-around;
  }
  .conteudo{

    text-align: center;
    margin-top: 4vh;
  
  }

  
  // mapa
  .map{
    margin-left: auto;
    margin-right: auto;
    background-color: #0B2C4D;
    border-radius: 2vh ;
    padding: 1vh 1vh 1vh 1vh;
    max-width: 53vh;
    min-width: 53vh;
    max-height: 70vh;

  }
  .map svg{
    color:white;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .mapa{
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vh;
    min-width: 30vh;
    max-height: 50vh;
    min-height: 30vh;
   

  
  }
  
  // Contato whats
  .conteudo_whats{
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
  .conteudo_whats svg{
    color: black;
  }
  .link_whats a p{
    color: white;
    text-decoration: none;
  }
  

  // footer
  ion-footer{
    color: white;
    margin-top:10vh;
    padding: 5vh;
    background: rgb(4,15,26);
    background: linear-gradient(190deg, rgba(4,15,26,1) 0%, rgba(11,44,77,1) 35%, rgba(19,73,128,1) 100%);
  }
  .info-footer{
    text-align: center;
    font-family: arial;
  }
  .imagem img{
    width: 50vh;
    min-width: 30vh;
  }
  
    