* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;


  // border: 1px solid red;

}

// cor de fundo
.cor_fundo {
  --ion-background-color: white;
}

// css menu
ion-menu {
  position: fixed;
}

// Menu 
.menu_color {
  background-color: #03258C;
  padding: 1vh 2vh 1vh 2vh;
}

.logo_menu {
  display: flex;
  justify-content: start;
  margin: auto;
}

.logo_menu img {
  width: 50%;
}

.link_menu {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;


}

.link_menu a {
  color: white;
  font-size: large;
}

.link_menu a:hover {
  color: #cbdcfe;
  border-bottom: 1px solid #73020C;
  font-size: larger;
  cursor: pointer;
}
// CSS primeira seção
.secao_contato {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.secao_contato .text_apresentacao h1{
  color: #03258C;
  font-size:xx-large;
  font-weight: bold;
}
.secao_contato .text_apresentacao p{
  margin-top: 1vh;
  font-size: large;
  color: rgba(0, 0, 0, 0.616);
}

// seção contato
.secao_contato{
  display: flex;
  justify-content: center;

}
.secao_contato .card_contato{
  display: flex;
  justify-content: space-around;
}
.secao_contato .card_contato .contato{
  border: 0.5px solid rgba(0, 0, 0, 0.616);
  border-radius: 1vh;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 40vh;
  height: 25vh;
}




  
  // Page
  .container{
    display: flex;
    justify-content: space-around;
  }
  .conteudo{

    text-align: center;
    margin-top: 4vh;
  
  }

  
  // mapa 
  .conteudo_map{
    display: flex;
    justify-content: center;
  }
  .map_container{
    
    background-color: #03258C;
    border-radius: 2vh ;
    padding: 1vh 1vh 1vh 1vh;
    max-width: 50vh;
    min-width: 50vh;
    max-height: 55vh;

  }
  .map svg{
    color:white;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .mapa{
    margin-top: 1vh;
    border-radius: 2vh; 
    max-width: 100%;
    max-height: 90%;
  }
  
  // Contato whats
  .conteudo_whats{
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
  .conteudo_whats svg{
    color: black;
  }
  .link_whats a p{
    color: white;
    text-decoration: none;
  }
  
// footer

.footer {
  margin-top: 15vh;
  padding: 7vh 3vh 3vh 3vh;
  background: rgb(3, 37, 140);
  background: radial-gradient(circle, rgba(3, 37, 140, 1) 11%, rgba(3, 43, 150, 1) 45%, rgba(2, 15, 89, 1) 93%);
}

// seção empresa
.footer .empresa {
  display: flex;
  justify-content: center;
  padding: 4vh;
}

.footer .empresa .rodape_logo {
  width: 15vh;
  height: 8vh;
  border-bottom: 2px solid#73020C;
}

.footer .empresa .text_rodape {
  margin-top: 3vh;
}

// seção mapa do site
.footer .mapa_site {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

}

.footer .mapa_site h3 {
  text-decoration: underline;
  font-weight: bold;
}

.footer .mapa_site ul {
  margin-top: 1.5vh;
  list-style: none;
  font-size: larger;
}

.footer .mapa_site li:hover {
  font-size: x-large;
  cursor: pointer;
  margin-left: 1vh;
}

// Link para redes sociais
.footer .redes_sociais h3 {
  font-weight: bold;
  text-decoration: underline;
}

.footer .redes_sociais {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

}

.footer .redes_sociais .social {
  margin-top: 1.5vh;
  font-size: larger;
}

.footer .redes_sociais .social a {
  color: white;
  margin-top: 2vh;
}

.footer .redes_sociais .social a:hover {
  font-size: x-large;
  cursor: pointer;
  margin-left: 1vh;
}

.footer .redes_sociais .social svg {
  width: 3vh;
}

// sac
.footer .sac {
  display: flex;
  justify-content: center;
  margin-top: 3vh;


}

.footer .sac h3 {
  font-weight: bold;
  text-decoration: underline;
}

.footer .sac p {
  font-size: large;
}
  
    