* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;


  // border: 1px solid red;

}

// cor de fundo
.cor_fundo {
  --ion-background-color: white;
}

// css menu
ion-menu {
  position: fixed;
}

// Menu 
.menu_color {
  background-color: #03258C;
  padding: 1vh 2vh 1vh 2vh;
}

.logo_menu {
  display: flex;
  justify-content: start;
  margin: auto;
}

.logo_menu img {
  width: 50%;
}

.link_menu {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;


}

.link_menu a {
  color: white;
  font-size: large;
}

.link_menu a:hover {
  color: #cbdcfe;
  border-bottom: 1px solid #73020C;
  font-size: larger;
  cursor: pointer;
}
// CSS primeira seção
.secao_contato {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

 .text_apresentacao h1{
  color: #03258C;
  font-size:xx-large;
  font-weight: bold;
}
.text_apresentacao p{
  margin-top: 1vh;
  font-size: large;
  color: rgba(0, 0, 0, 0.616);
}

// seção contato
.secao_contato{
  display: flex;
  justify-content: center;

}
.card_contato{
  display: flex;
  justify-content: space-around;
}
.contato{
  background-color: rgb(233, 233, 233);
  padding: 4vh;
  margin-top: 3vh;
  border: 0.5px solid rgba(0, 0, 0, 0.616);
  border-radius: 1vh;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 90%;
  height: 25vh;
  color: black;
}


 .contato svg {
  color: black;
  width: 6vh;
  
}
 .contato h2{
  color: #03258C;
  font-size: x-large;
  font-weight: bold;
}
.contato p{
  color: black;
}

// Seção mapa
.secao_mapa{
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  background-color: #03258ce8;

}
.container_mapa{
  display: flex;
  justify-content: center;
  padding: 4vh 3vh 4vh 3vh ;
}
.mapa{
  width: 100%;
  border-radius: 2vh;
  
}



  
  
// footer

.footer {
  margin-top: 15vh;
  padding: 7vh 3vh 3vh 3vh;
  color: white;
  background: rgb(3, 37, 140);
  background: radial-gradient(circle, rgba(3, 37, 140, 1) 11%, rgba(3, 43, 150, 1) 45%, rgba(2, 15, 89, 1) 93%);
}

// seção empresa
.empresa {
  display: flex;
  justify-content: center;
  padding: 4vh;
}
.rodape_logo {
  width: 15vh;
  height: 8vh;
  border-bottom: 2px solid#73020C;
}

.text_rodape {
  margin-top: 3vh;
  
}

// seção mapa do site
.mapa_site {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

}

.mapa_site h3 {
  text-decoration: underline;
  font-weight: bold;
}

.mapa_site ul {
  margin-top: 1.5vh;
  list-style: none;
  font-size: larger;
}
.mapa_site li:hover {
  font-size: x-large;
  cursor: pointer;
  margin-left: 1vh;
}

// Link para redes sociais
.redes_sociais h3 {
  font-weight: bold;
  text-decoration: underline;
}

.redes_sociais {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

}

.social {
  margin-top: 1.5vh;
  font-size: larger;
}

.social a {
  color: white;
  margin-top: 2vh;
}

.social a:hover {
  font-size: x-large;
  cursor: pointer;
  margin-left: 1vh;
}

.social svg {
  width: 3vh;
}

// sac
.sac {
  display: flex;
  justify-content: center;
  margin-top: 3vh;


}

.sac h3 {
  font-weight: bold;
  text-decoration: underline;
}

.sac p {
  font-size: large;
}
  
    