<ion-content [fullscreen]="true">

  <!-- Barra de navegação -->

  <ion-menu contentId="main-content">
    <ion-header class="fundo_menu">
      <ion-item>
        <ion-title class="titulo1">
          <h1>Malvzuco</h1>
        </ion-title>
      </ion-item>
    </ion-header>
    <ion-col class="menu_botao">
      <ion-button class="botao" shape="round" expand="full" routerLink="/home">Página Incial</ion-button>

      <ion-button class="botao" shape="round" expand="full" routerLink="/clientes">Cliente</ion-button>

      <ion-button class="botao" shape="round" expand="full" routerLink="/contato">Contato</ion-button>

      <ion-button class="botao" shape="round" expand="full" routerLink="/servico">Serviços</ion-button>
    </ion-col>

  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="fundo_menu">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><img class="logo" src="../../assets/icon/logo-malvzuco-navbar.png" alt="img"></ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Corpo -->
    <ion-content class="ion-padding" class="cor_fundo">

      <ion-row class="conteudo">
        <ion-col  class="banner justify-content-center" size-lg="6" size-md="10" size="12">
         
            <div class="text_banner">
              <h1>Bem-Vindo a Malvzuco</h1>
            <p>Cadastre-se para receber novidades sobre nossos serviços, promoções e muito mais!</p>
            </div>
          
        </ion-col>
        <ion-col  size-lg="6" size-md="10" size="12">

          <ion-row  class="centro_form">
            <ion-col  size-lg="8" size-md="8" size="12">
              <form class="content_form">
              
                <ion-label>
                  <h1>Cadastre-se</h1> 
                </ion-label>
                           
                <ion-input label="Nome:" [(ngModel)]="this.cliente.nome" [ngModelOptions]="{standalone: true}" type="text"></ion-input>
                            
                <ion-input label="E-mail:" [(ngModel)]="this.cliente.email" [ngModelOptions]="{standalone: true}" type="text"></ion-input>
                            
                <ion-input label="Telefone:" [(ngModel)]="this.cliente.telefone" [ngModelOptions]="{standalone: true}" type="text"></ion-input>
              
                <ion-input label="Descrição:" [(ngModel)]="this.cliente.descricao" [ngModelOptions]="{standalone: true}" type="text"></ion-input>

                

                <!-- seleção do funcionarios -->
                <div class="selecao">
                  <ion-accordion-group  expand="inset">
                    <ion-accordion>
                      <ion-item slot="header" color="white" class="escolha_funcionario">
                        <h5>Escolha um funcionário</h5>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <!-- calendario -->
                        <div class="conteudo_calendario">
                          <ion-datetime class="calendario" presentation="date" (ionChange)="definirData($event)"></ion-datetime>
                        </div>
                        <!-- escolha o funcionario -->
                        <ion-accordion-group expand="inset" class="funcionario_aba">
                          <ion-accordion value="first">
                            <ion-item slot="header" color="white"  class="funcionario">
                              <ion-label>Funcionário</ion-label>
                            </ion-item>
                            <div class="ion-padding" slot="content">
                              <ion-list>
                                <ng-container *ngFor="let funcionario of this.funcionarios">
                                   <div >
                                    <ion-button expand="full" shape="round" (click)="selecionarFuncionario(funcionario)">{{funcionario.nome}}</ion-button>
                                   </div>
                                  
                                </ng-container>
                                
                              </ion-list>
                            </div>
                          </ion-accordion>
                          
                        </ion-accordion-group>
                        
  
                        <!-- escolha o horario -->
                        <ion-list>
                          <h5>Horários</h5>
                          <ng-container *ngFor="let horario of this.horarios">
                           <ng-container *ngIf="horario.bloqueado==false">
                            <div class="fundo_item">
                              <ion-button class="bota_horario" (click)="selecionarHorario(horario)">{{horario.hora}}</ion-button>
                            </div>
                           
                           </ng-container>                    
                          </ng-container>
                          
                        </ion-list>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </div>
                
                
                <!-- <ion-list>
                  <ng-container *ngFor="let funcionario of this.funcionarios">
                    <ion-item>
                      <ion-button (click)="selecionarFuncionario(funcionario)">{{funcionario.nome}}</ion-button>
                    </ion-item>
                  </ng-container>
                  
                </ion-list>

                <ion-item-divider></ion-item-divider>

                <ion-list>
                  <ng-container *ngFor="let horario of this.horarios">
                   <ng-container *ngIf="horario.bloqueado==false">
                    <ion-item>
                      <ion-button (click)="selecionarHorario(horario)">{{horario.hora}}</ion-button>
                    </ion-item>
                   </ng-container>                    
                  </ng-container>
                  
                </ion-list> -->
                
                <ion-button color="secondary" shape="round" expand="full" (click)="inserirCliente()">AGENDAR</ion-button>
              
            </form>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>






      <!-- footer -->
      <ion-footer>
        <ion-row>
          <ion-col class="info-footer" size-lg="3" size-md="6" size-sm="12">
            <h4>E-MAIL:</h4>
            <h5>malvzuco@yahoo.com.br</h5> <br>

            <h4>TELEFONE:</h4>
            <h5>+15 99762-6275</h5>
          </ion-col>

          <ion-col class="info-footer" size-lg="3" size-md="6" size-sm="12">
            <h4>MAPA DO SITE</h4>
            <div>
              <ion-button class="botao" shape="round" expand="full" routerLink="/home">Página Incial</ion-button>
              <ion-button class="botao" shape="round" expand="full" routerLink="/clientes">Cliente</ion-button>
              <ion-button class="botao" shape="round" expand="full" routerLink="/contato">Contato</ion-button>
              <ion-button class="botao" shape="round" expand="full" routerLink="/servico">Serviços</ion-button>
            </div>
          </ion-col>

          <ion-col class="imagem" size-lg="6" size-md="10" size-sm="12">
            <img src="../../assets/icon/logo-malvzuco-navbar.png" alt="imagem da logo">
          </ion-col>


        </ion-row>
      </ion-footer>
    </ion-content>
  </div>


  <!-- Rodapé -->



</ion-content>