*{
    font-family: Arial, Helvetica, sans-serif;
} 
.fundo{
    --background: white;
}
// CSS menu title

ion-menu {
    position: fixed;
  }
  
  // Menu 
  .menu_color {
    background-color: #03258C;
    padding: 1vh 2vh 1vh 2vh;
  }
  
  .logo_menu {
    display: flex;
    justify-content: start;
    margin: auto;
  }
  
  .logo_menu img {
    width: 50%;
  }
  
  .link_menu {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  
  
  }
  
  .link_menu a {
    color: white;
    font-size: large;
  }
  
  .link_menu a:hover {
    color: #cbdcfe;
    border-bottom: 1px solid #73020C;
    font-size: larger;
    cursor: pointer;
  }

//   Seção principal
.cadastros .conteudo{
    background-color: #03258cea;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding: 4vh 2vh 4vh 2vh;
    color: black;
}
// css containers
.cadastros .cadastro_funcionario .content_form{
    background-color: white;
    width: 50vh;
    padding: 3vh 2vh 3vh 2vh ;
    color: black;
    border-radius: 2vh;

}
.cadastros .cadastro_funcionario .content_form h1{
    text-align: center;
    color: #0B2C4D;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1vh;
}
.cadastros .cadastro_funcionario .content_form ion-input{
    margin-bottom: 1vh;
}

.cadastros .cadastro_funcionario .content_form .lista_horarios{
    margin-top: 2vh;
}
// seção listar

.secao_listar ion-item {
    --background: white;
    color: black;
    text-align: center; 
    
}

